@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --font: "Roboto", sans-serif;
  --font-bold: bold;
  --font-normal: 400;
  --background: linear-gradient(269.7deg, #d4955e 0%, #754213 99.25%);
  --white: #f1f1f1;
  --black: #0f0f0f;
  --instagram-bg: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  font-family: var(--font);
}

/* NAV DESKTOP */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0px;
  z-index: 200;
  transition: 0.6s;
}

header.sticky {
  padding: 10px 0px;
  background: var(--white);
}

header.sticky nav ul img {
  width: 50px;
  height: 50px;
}

header.sticky nav ul li a {
  color: var(--black);
  text-shadow: none;
  transition: 0.6s;
}

header.sticky nav ul li a:hover {
  font-size: 22px;
}

header .desktop ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li {
  position: relative;
  list-style: none;
}

header nav ul li a {
  position: relative;
  margin: 0 30px;
  text-decoration: none;
  color: var(--white);
  font-weight: var(--font-bold);
  transition: 0.6s;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 18px;
}

header nav ul li a:hover {
  font-size: 22px;
}

header nav ul img {
  width: 80px;
  height: 80px;
}

/* NAV mobile */

.sticky-mobile {
  display: none;
}

.mobile {
  display: none;
}

@media (max-width: 850px) {
  .mobile {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 10px;
  }

  .desktop {
    display: none;
  }
  .sticky-mobile {
    display: block;
    padding: 5px 0px;
    background: var(--white);
  }
}

.mobile img {
  width: 60px;
  height: 60px;
}

header .mobile ul {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .mobile ul li {
  margin: 6px 0;
}

header .mobile ul li a {
  color: var(--black);
  text-shadow: none;
}

.mobile ul {
  display: none;
}

#mobile-menu {
  transition: opacity 1s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

#mobile-menu.mobile-menu-visible {
  opacity: 1;
  height: auto;
}

/* HAMBURGER */

.menu-btn {
  position: relative;
  margin: 30px 0;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger {
  width: 30px;
  height: 4px;
  background: var(--black);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  background: var(--black);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-8px);
}

.menu-btn__burger::after {
  transform: translateY(8px);
}

/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(/img/banner.png) no-repeat 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

h1 {
  display: flex;
  justify-content: center;
  color: var(--white);
  background: rgba(0, 0, 0, 0.6);
  padding: 10px 15px;
  margin: auto 0;
  font-size: 84px;
  border-radius: 15px;
  text-align: center;
}

@media (max-width: 850px) {
  h1 {
    font-size: 52px;
    width: 220px;
  }
}

.scroll-down {
  position: relative;
  margin-bottom: 40px;
  margin-left: -42px;
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  animation: bounce 2s infinite 2s;
}

@media (max-width: 850px) {
  .scroll-down {
    margin-left: 0;
  }
}

.scroll-down:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 9px;
  transform: rotate(-45deg);
  width: 16px;
  height: 16px;
  border: 2px solid white;
  border-width: 0 0 2px 2px;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

@media (max-width: 850px) {
  .scroll-down {
    margin-bottom: 150px;
  }
}

.about {
  padding-top: 95px;
}

.about h2 {
  padding-bottom: 10px;
  color: var(--white);
  font-size: 28px;
  text-align: center;
}

.container-about {
  display: grid;
  justify-content: center;
  text-align: center;
  grid-template-columns: 40% 40%;
  grid-template-rows: auto auto auto;
  align-items: center;
  gap: 20px 0px;
  grid-template-areas:
    "jpg text1"
    "text2 jpg2"
    "jpg3 text3";
}

.container-about .jpg {
  justify-self: center;
  grid-area: jpg;
}
.jpg img,
.jpg2 img,
.jpg3 img {
  height: 300px;
  border-radius: 15px;
}

.container-about .jpg2 {
  justify-self: center;
  grid-area: jpg2;
}

.container-about .jpg3 {
  justify-self: center;
  grid-area: jpg3;
}

.container-about .text1 {
  grid-area: text1;
  color: var(--white);
}

.container-about .text2 {
  grid-area: text2;
  color: var(--white);
}

.container-about .text3 {
  grid-area: text3;
  color: var(--white);
}

.fa-instagram {
  background: var(--instagram-bg);
  margin-top: 20px;
  margin-right: 10px;
  font-size: 22px;
}

.about a {
  color: var(--white);
  transition: 0.6s;
}

.about a:hover {
  color: var(--white);
  font-size: 22px;
}

@media (max-width: 850px) {
  .container-about {
    grid-template-columns: 80%;
    grid-template-rows: auto auto auto auto auto auto;
    align-items: center;
    gap: 20px 0px;
    grid-template-areas:
      "jpg"
      "text1"
      "jpg2"
      "text2"
      "jpg3"
      "text3";
  }
}
